{% extends 'survey/base.html' %}

{% block title %}Edit Single Question for Survey {{survey.name}}{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col mt-4">
            <form action="{% url 'single_update' survey.slug single_select_question.id %}" method="post">
                {% csrf_token %}
                {{single_select_question_form.as_p}}
                <button type="submit" class="btn btn-primary">Edit Question</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}