{% extends 'survey/base.html' %}

{% block title %}Create Text Question for Survey {{survey.name}}{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col mt-4">
            <form action="{% url 'text_create' survey.slug %}" method="post">
                {% csrf_token %}
                {{text_question_form.as_p}}
                <button type="submit" class="btn btn-primary">Create Question</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}